
#header{
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--silver);
    align-items: center;
    border-bottom: 1px solid var(--black);
    margin: 0;
}
#catalog-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#catalog-link{
    font-size: 20px;
    text-decoration: none;
    color: var(--black);
}
#search-cake{
    position: relative;
}
#search-cake-input{
    border-radius: 20px;
    border: 1px solid var(--pale-brown);
    text-indent: 10px;
    background-color: var(--silver);
    width: 80%;
    height: 35px;
}
#search-cake-btn{
    color: var(--black);
    position: absolute;
    top: 5px;
    right: 23%;
    cursor: pointer;
    border: none;
    background-color: var(--silver);
}
#bakery-name{
    margin: 0;
}
#backhome-link{
    text-decoration: none;
}
.dropdown{
    padding: 0 !important;
}
#dropdown-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#dropdown-management{
    font-size: 20px;
    text-decoration: none;
    color: var(--black);
    padding: 0;
}
#dropdown-management-list{
    background-color: var(--silver);
    border: 1px solid var(--black);
}
.dropdown-item:hover{
    background-color: var(--pale-brown) !important;
    color: var(--white) !important;
}
#navbar-icon{
    width: 300px;
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    justify-content: space-around;
}
#navbar-icon li{
    font-size: 25px;
}