/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 1, 2024, 1:44:00 PM
    Author     : Nguyen Truong An CE170984
*/

.content-cake{
    height: 100% !important;
    border: 1px solid var(--black);
    border-radius: 10px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 20px;
}
#add-cake-btn{
    height: 35px;
    border-radius: 10px;
    background-color: var(--white);
    padding-right: 20px;
}
#add-cake-btn:hover{
    transform: scale(1.1);
}
.add-icon{
    font-size: 20px;
    top:-3px;
    position: absolute;
    font-weight: bold;
}
.filter-cover{
    background-color: var(--silver);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.btn-filter{
    padding: 0 !important;
    background-color: var(--silver) !important;
    color: var(--black) !important;
    border: none !important;
    height: 20px;
}
.type-filter{
    margin-top: 20px;
    margin-right: 40px !important;
}
#dropdownItems{
    margin-right: 20px !important;
}
.cake-in-order-cover{
    margin: 10px 0;
}
.cake-list{
    height: 100%;
    padding-bottom: 80px;
    margin: 0 !important;
    background-color: var(--silver);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.cake-detai{
    border-radius: 10px;
    border: 1.5px solid black;
    height: 100%;
    margin: 2vh 2vw !important;
    background-color: var(--white);
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 20px;
}
.cake-detai:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}
.cake-id{
    color: var(--red);
    position: absolute;
    top: 5px;
    left: 5px;
    font-weight: bold;
    font-size: 1.5vw;
}

.cake-name{
    color: var(--red);
    margin-top: 5px;
    font-size: 1.5vw;
}
.cake-img{
    height: 90px;
    width: 40%;
    border: 1px solid var(--pale-brown);
    border-radius: 20px;
    margin-left: 20px !important;
}
.cake-right-inf{
    padding-right: 0 !important;
}
.cake-inf-title{
    color: var(--black);
    font-size: 1.1vw;
    font-weight: bold;
    margin-right: 5px;
    margin-left: 2px;
    margin-bottom: 4px;
}
.cake-inf{
    color: var(--black);
    font-size: 1.05vw;
    margin-bottom: 4px;
}
.plus-btn{
    margin: 0;
    padding: 0;
    padding-bottom: 3px;
    padding-left: 5px;
    background-color: var(--white);
    border: none;
}
.cake-description{
    margin: 0 10px;
}
.pre-page:hover {
    text-decoration: none !important;
    color: var(--red);
}

.pre-page{
    color: var(--black);
}