:root {
  --dark-pink: #97201e;
  --red: #ce5351;
  --white: #f9f6f2;
  --silver: #e5dfdb;
  --black: #55432c;
  --pale-brown: #bdb09e;
}

img {
  object-fit: cover;
  border: white solid 2px;
  border-radius: 25px;
}

.button button {
  width: 280px;
  height: 53px;
  border-radius: 25px;
  border: none;
  background-color: white;
  color: var(--dark-pink);
  font-size: 24px;
}
.button button:hover {
  border: var(--black) 2px solid;
  transition: ease-in-out 0.1s;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--black);
  background-color: var(--white);
}

/* Header */
#header {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--white);
  align-items: center;
  border-bottom: 1px solid var(--black);
  margin: 0;
}
#header #catalog-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#header #catalog-link {
  font-size: 20px;
  text-decoration: none;
  color: var(--black);
}
#header #search-cake {
  position: relative;
}
#header #search-cake-input {
  border-radius: 20px;
  border: 1px solid var(--pale-brown);
  text-indent: 10px;
  background-color: var(--white);
  width: 80%;
  height: 35px;
}
#header #search-cake-btn {
  color: var(--black);
  position: absolute;
  top: 8px;
  right: 23%;
  cursor: pointer;
  border: none;
  background-color: var(--white);
}
#header #bakery-name {
  font-family: "Unna", serif;
  font-size: 40px;
  color: var(--black);
  margin: 0;
}
#header #backhome-link {
  text-decoration: none;
}
#header .dropdown {
  padding: 0 !important;
}
#header #dropdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header #dropdown-management {
  font-size: 20px;
  text-decoration: none;
  color: var(--black);
  padding: 0;
}
#header #dropdown-management-list {
  background-color: var(--silver);
  border: 1px solid var(--black);
}
#header .dropdown-item:hover {
  background-color: var(--pale-brown) !important;
  color: var(--white) !important;
}
#header #navbar-icon {
  width: 300px;
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  justify-content: space-around;
}
#header #navbar-icon li {
  font-size: 25px;
}
#header #navbar-icon li a {
  color: var(--black);
}

/* Bread-crumb */
.bread-crumb {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}
.bread-crumb .bread-crumb-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.bread-crumb .bread-crumb-items a {
  text-decoration: none;
  color: var(--pale-brown);
  word-break: break-all;
  word-wrap: break-word;
}
.bread-crumb .bread-crumb-items .active a {
  text-decoration: underline;
  color: var(--black);
}
.bread-crumb .bread-crumb-items .active {
  width: 33.33%;
}
.bread-crumb .bread-crumb-items .bread-crumb-arrow {
  margin-left: 20px;
  margin-right: 20px;
  color: var(--pale-brown);
}

@media (max-width: 1200px) {
  .bread-crumb .bread-crumb-items {
    margin-left: -20px;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .bread-crumb .bread-crumb-items {
    padding-left: 50px;
  }
}
/* Load more indicators */
.load-more-indicators {
  padding-bottom: 80px;
}
.load-more-indicators .load-more-btn {
  display: flex;
  justify-content: center;
}
.load-more-indicators .load-more-btn button {
  background-color: var(--dark-pink);
  color: white;
}
.load-more-indicators .load-more-btn button:hover {
  background-color: white;
  color: var(--dark-pink);
}
.load-more-indicators .indicators {
  margin-top: 40px;
  font-size: 20px;
}
.load-more-indicators .indicators a {
  text-decoration: none;
  color: #333;
  padding: 4px 12px;
  border-radius: 50%;
}
.load-more-indicators .indicators .indicator {
  display: flex;
  justify-content: center;
  align-items: center;
}
.load-more-indicators .indicators .indicator.active a {
  background-color: var(--dark-pink);
  color: white;
}

@media (max-width: 768px) {
  .load-more-indicators .indicators {
    margin-left: -20px;
  }
  .load-more-indicators .indicators .indicator {
    margin-left: 20px;
  }
}
/* Page info */
.page-info {
  padding-top: 20px;
  padding-bottom: 40px;
}
.page-info .title {
  margin-bottom: 36px;
}
.page-info .title h2 {
  color: var(--black);
  font-size: 80px;
  font-family: "Unna", serif;
  font-weight: 600;
}
.page-info .des {
  font-size: 20px;
  color: var(--pale-brown);
}

@media (min-width: 1200px) {
  .page-info .des {
    width: 380px;
  }
}
@media (max-width: 1400px) {
  .page-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .page-info .title {
    text-align: center;
  }
  .page-info .des {
    text-align: center;
  }
}
@media (min-width: 1400px) {
  .page-info {
    padding-left: 60px;
  }
}
/* card list */
.card-list {
  padding-bottom: 20px;
  padding-top: 20px;
}
.card-list .card-item {
  border: var(--black) 2px solid;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 60px;
  height: 460px;
  width: 356px;
  display: flex;
  justify-content: center;
  align-items: start;
}
.card-list .card-item .img {
  display: flex;
  justify-content: center;
}
.card-list .card-item .img img {
  width: 306px;
  height: 240px;
  border-color: var(--pale-brown);
}
.card-list .card-item .content {
  width: 295px;
  height: 171px;
  padding: 0;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.card-list .card-item .content .title h3 {
  color: var(--black);
  font-weight: 600;
  font-size: 20px;
}
.card-list .card-item .content .des {
  color: var(--pale-brown);
}
.card-list .card-item .content .link {
  display: flex;
  align-items: end;
}
.card-list .card-item .content .link a {
  color: var(--black);
  font-weight: 600;
}

@media (min-width: 768px) {
  .card-list .card-items {
    margin-left: -80px;
  }
  .card-list .card-item {
    margin-left: 60px;
  }
}
@media (min-width: 992px) {
  .card-list .card-items {
    margin-left: -60px;
  }
}
@media (min-width: 1200px) {
  .card-list {
    padding-left: 60px;
  }
  .card-list .card-items {
    margin-left: -128px;
  }
}
@media (min-width: 1400px) {
  .card-list {
    padding-left: 60px;
  }
  .card-list .card-items {
    margin-left: -40px;
  }
}

/*# sourceMappingURL=catalog.css.map */
