/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 5, 2024, 7:29:34 PM
    Author     : acer
*/


.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="password"]{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-group button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group button.cancel {
    background-color: #ccc;
    margin-right: 10px;
}

.form-edit {
    width: 1050px;
    height: 650px;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(15%, 5%);
}
.form-group .save {
    background: rgb(206, 83, 81);
    width: 270px;
    font-weight: bold;
    margin-top: 20px;
}
.file-input-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background-color: #f1f1f1;
    color: #555555;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.file-input-wrapper input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.file-input-wrapper span {
    display: inline-block;
    vertical-align: middle;
}

.file-input-wrapper:hover {
    background-color: #dddddd;
}

.file-input-wrapper:active {
    background-color: #bfbfbf;
}
.confirm{
    margin-top: 20px;
}
