/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 26, 2024, 10:42:50 AM
    Author     : acer
*/

/* main.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Unna";
}
a {
    text-decoration: none;
}
body {
    background-color: rgb(206, 83, 81);
}
.content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    background: white;
    border-radius: 20px;
    width: 1050px;
    height: 650px;
    background-color: rgb(164, 47, 45);
    margin-bottom: 0px;
}
.left {
    float: left;
    width: 35%;
}
.left h1 {
    font-family: "Unna";
    font-weight: bold;
    color: white;
    padding: 60px;
    padding-top: 130px;
    padding-bottom: 0px;
}
.right {
    float: right;
    width: 65%;
    background: #ffffff;
    height: 650px;
    border-radius: 20px;
}
.right h2 {
    text-align: center;
    padding: 20px 0;
    font-family: "Unna";
    font-weight: bold;
    color: rgb(206, 83, 81);
    padding-bottom: 10px;
}

.candy {
    position: absolute;
    width: 200px;
    height: 200px;
    transform: translate(-43.6%, -14.4%) scaleX(-1) rotate(-70deg);
    clip-path: polygon(0 0, 100% 0, 90% 42%, 0% 75%);
}
.cake-1 {
    width: 230px;
    height: 230px;
    transform: translate(250px, 70px) rotate(15deg);
}
.cake-2 {
    width: 180px;
    height: 180px;
    transform: translate(60%, -135%) rotate(-25deg);
}

.cake-3 {
    width: 185px;
    height: 190px;
    transform: translate(235px, -515px) rotate(-20deg);
}
.cake-4 {
    width: 185px;
    height: 180px;
    transform: translate(-125px, -285px);
}
.form {
    text-align: center;
    padding-top: 100px;
}
.title {
    font-size: 1.5rem;
    color: rgb(145, 142, 142);
}
.phone {
    padding-bottom: 40px;
}
.input input[type="text"] {
    width: 430px;
    height: 45px;
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(229, 229, 229);
}
.btn-otp {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(206, 83, 81);
    color: #ffffff;
    border: none;
    font-size: 1.2rem;
}

