/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 26, 2024, 2:48:04 PM
    Author     : ACER PC
*/
.content-top{
    background-color: var(--white);
}
.menu-and-history {
    width: 100%;
}
.top-option {
    padding: 20px;
    padding-top: 10px;
}
.histoty {
    margin-top: 12px;
}
.histoty h4 {
    margin-left: 5px;
}
.current-page {
    color: var(--red);
}

.menu-item {
    height: 55px;
    width: 192px;
    border-radius: 50px;
    color: black;
    border: none;
    background-color: #d9d9d9;
}
.menu-variant {
    color: white;
    background-color: var(--red);
}
.search-and-filter {
    height: 60px;
/*    margin: 0px !important;*/
    margin-top: 10px !important;
    width: 100%;
    border: 1px solid var(--pale-brown);
    border-radius: 10px;
}

.search-order {
    position: relative;
}

.search-order-input {
    border-radius: 10px;
    border: 1px solid var(--black);
    text-indent: 10px;
    background-color: #F5F5F5;
    width: 80%;
    height: 44px;
}
.search-order-input:focus{
    outline: none;
}
.search-order-btn {
    top: auto;
    bottom: auto;
    color: var(--black);
    position: absolute;
    top: 0px;
    right: 23%;
    cursor: pointer;
    border: none;
    border-left: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    border-top: 1px solid var(--black);
    background-color: #F5F5F5;
    height: 44px;
}
.page-number{
    margin: 0px !important;
}
.swap-page-item{
    padding: 0 10px;
}
.swap-page-button{
    border: none;
    background-color: var(--white);
}
.order-information{
    height: 58px;
    background-color: var(--dark-pink);
    border: 1px solid var(--red);
}
#last-order-inf{
    padding: 0 !important;    
}
.order-detail-inf{
    color: var(--white);
    font-size: 1.2vw;
    padding: 0px !important;
    padding-left: 15px !important;  
}
.order-inf-id{
    padding-left: 20px !important;
}
.order-inf-receivedDate{
    padding-left: 50px !important;
}
.cake-in-order{
    background-color: var(--silver);
    height: 100%;
    margin: 0 !important;
    margin-top: 10px !important;
}
.cake-in-order-detai{
    border-radius: 10px;
    border: 2px solid black;
    height: 100%;
    margin: 6vh 4vw !important;
    background-color: var(--white)
}
.cake-in-order-cover{
    height: 80%;
}
.cake-name{
    color: var(--red);
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}
.cake-img{
    width: 100%;
/*    height: 100%;*/
    border-radius: 10px;
    border: 1px solid black;
    object-fit: cover;
    padding: 0px !important;
}

.cake-inf-text{
    color: black;
    font-size: 1.1vw;
}
#show-topping-btn{
    margin: 10px 0!important;
}
.btn-contain{
    margin-top: 5px ;
    margin-bottom: 5px;
}

.btn-contain button{
    background-color: var(--red);
    padding: 5px;
    color: var(--white);
    border: none;
}
.cake-total-price{
    color: var(--red);
    font-weight: bold;
    font-size: 20px;
}
.btn-contain button i{
    padding-right: 5px;
    color: var(--white);
}
.topping-in-cake-txt{
    color: var(--red);
    font-weight: bold;
    font-size: 20px;
}
#fixed-bottom{

    background-color: white;
}
.topping-txt{
    margin-left: 20px !important;
    color: black;
    font-weight: bold;
}

.pre-page:hover {
  text-decoration: none !important;
  color: var(--red);
}

.pre-page:active {
  text-decoration: none !important;
  color: var(--red);
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.popup-content {
    padding: 20px;
}

.popup button {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.popup button:hover {
    background-color: #45a049;
}

.no-option{
    background-color: var(--red) !important;
}