/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 23, 2024, 1:35:59 PM
    Author     : acer
*/

/* main.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Unna";
}
a {
  text-decoration: none !important;
}
body {
  background-color: rgb(206, 83, 81);
}
.content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  background: white;
  border-radius: 20px;
  width: 1050px;
  height: 650px;
  background-color: rgb(164, 47, 45);
}
.left {
  float: left;
  width: 35%;
}
.left h1 {
  font-family: "Unna";
  font-weight: bold;
  color: white;
  padding: 60px;
  padding-top: 130px;
  padding-bottom: 0px;
}
.right {
  float: right;
  width: 65%;
  background: #ffffff;
  height: 650px;
  border-radius: 20px;
}
.right h2 {
  text-align: center;
  padding: 20px 0;
  font-family: "Unna";
  font-weight: bold;
  color: rgb(206, 83, 81);
  padding-bottom: 30px;
}
.form-group {
  text-align: center;
  margin-bottom: 0rem;
}
.box {
  padding-top: 20px;
}
.button {
  margin: 30px;
  padding: 5px;
  background: rgb(206, 83, 81);
  width: 500px;
  color: #fff;
  border-radius: 12.9622px;
  font-family: "Unna";
  font-style: normal;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: none;
  font-size: 20px;
}
.login {
  font-family: "Unna";
  font-weight: normal;
  text-align: center;
}
.login a {
  color: rgb(221, 26, 26);
}
.or {
  font-family: "Unna";
  font-weight: normal;
}
.google {
  font-family: "Unna";
  font-weight: normal;
  display: flex;
  padding-left: 240px;
}
.google img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.google p {
  text-decoration: none;
  font-family: "unna";
  color: rgb(27, 26, 26);
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="password"] {
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #4c4c4c;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="address"] {
  width: 500px;
}

.form-group input[type="tel"],
.form-group input[type="password"] {
  width: 206px;
}
.candy {
  position: absolute;
  width: 200px;
  height: 200px;
  transform: translate(-43.6%, -14.4%) scaleX(-1) rotate(-70deg);
  clip-path: polygon(0 0, 100% 0, 90% 42%, 0% 75%);
}
.cake-1 {
  width: 230px;
  height: 230px;
  transform: translate(250px, 70px) rotate(15deg);
}
.cake-2 {
  width: 180px;
  height: 180px;
  transform: translate(60%, -135%) rotate(-25deg);
}
.pandp {
  display: flex;
  padding-left: 90px;
}
.password {
  padding-left: 90px;
}

.cake-3 {
  width: 185px;
  height: 190px;
  transform: translate(235px, -515px) rotate(-20deg);
}
.cake-4 {
  width: 185px;
  height: 180px;
  transform: translate(30px, -475px);
}
.title {
  padding-right: 415px;
}
.mailBox .title {
  padding-right: 440px;
}
.title-phone {
  padding-right: 140px;
}
.title-password {
  padding-right: 120px;
}
