
:root{
    --white:#F9F6F2;
    --silver:#E5DFDB;
    --black:#55432C;
    --red:#CE5351;
    --dark-pink:#97201E;
    --pale-brown:#BDB09E;
}
* {
  font-family: "Inter", sans-serif;
    color: var(--black);
    box-sizing: border-box;
}
.unna-regular {
    font-family: "Unna", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .unna-bold {
    font-family: "Unna", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .unna-regular-italic {
    font-family: "Unna", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .unna-bold-italic {
    font-family: "Unna", serif;
    font-weight: 700;
    font-style: italic;
  }

